<%= render 'layouts/title', title: "編集ページ" %>

<section class="page">


  <%= form_with model: @info, url: stores_info_path(@info.id), local: true do |f| %>
    <ul class="input-list">
      <li class="input">
        <div class="input-label"><%= f.label :station, "駅名" %></div>
        <div class="input-field">
          <%= f.text_field :station, :id => "station_name" %>

          <input type="button" value="検索" onclick="OnButtonClick();">
          <div id="St_name"></div>
        </div>
      </li>

      <li class="input">
        <div class="input-label"><%= f.label :place, "出店場所(詳細)" %></div>
        <div class="input-field"><%= f.text_field :place %></div>
      </li>

      <li class="input">
        <div class="input-label"><%= f.label :start_period, "開始日 " %> <i class="far fa-calendar"></i></div>
        <div class="input-field"><%= f.date_field :start_period, value: @info.start_period %></div>
      </li>

      <li class="input">
        <div class="input-label"><%= f.label :end_period, "終了日 " %></div>
        <div class="input-field"><%= f.date_field :end_period, value: @info.end_period %></div>
      </li>

      <li class="input">
        <div class="input-label"><%= f.label :open_time, "開店時間 " %><i class="far fa-clock"></i></div>
        <div class="input-field"><%= f.time_field :open_time, value: @info.open_time %></div>
      </li>

      <li class="input">
        <div class="input-label"><%= f.label :close_time, "閉店時間" %></div>
        <div class="input-field"><%= f.time_field :close_time, value: @info.close_time %></div>
      </li>
    </ul>

    <div class="item_change"><%= f.submit "変更" %></div>
  <% end %>

  <div class="destination"><%= link_to "詳細に戻る", stores_info_path(@info.id) %></div>

</section>