<h2>出店情報一覧</h2>
<%= link_to "追加", new_stores_info_path %>

<% @infos.each do |info| %>
    <%= info.start_period %> ~
    <%= info.end_period %>
    <%= info.station %>駅
    <%= link_to "詳細", stores_info_path(info.id) %>
<% end %>