<%= render 'layouts/title', title: "出店情報詳細" %>

<section class="page">
  <ul class="info-list">


    <%= render 'stores/info/info', info: @info %>
  </ul>

  <%= link_to "一覧に戻る", stores_info_index_path %>
  <%= link_to "修正", edit_stores_info_path(@info.id) %>
  <%= link_to "削除", stores_info_path(@info.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

</section>