<%= render 'layouts/title', title: "出店情報詳細" %>

<section class="page">
  <ul class="info-list">
    <li class="info">
      <div class="info-title">駅名</div>
      <div class="info-contents"><%= @info.station %>駅</div>
    </li>

    <li class="info">
      <div class="info-title">出店場所(詳細)</div>
      <div class="info-contents">
        <%= @info.place %>
      </div>
    </li>

    <li class="info">
      <div class="info-title">出店期間</div>
      <div class="info-contents">
        <%= l Time.parse(@info.start_period) %>
        ～
        <%= l Time.parse(@info.end_period) %>
      </div>
    </li>

    <li class="info">
      <div class="info-title">営業時間</div>
      <div class="info-contents">
        OPEN　<%= @info.open_time %>
        ～
        CLOSE　<%= @info.close_time %>
      </div>
    </li>
  </ul>

  <%= link_to "一覧に戻る", stores_info_index_path %>
  <%= link_to "修正", edit_stores_info_path(@info.id) %>
  <%= link_to "削除", stores_info_path(@info.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

</section>