<h2>出店情報詳細</h2>


<div class="field">
  <%= @info.station %>駅
</div>

<div class="field">
  出店場所(詳細)
  <%= @info.place %>
</div>

<div class="field">
  <%= @info.start_period %>
  ～
  <%= @info.end_period %>
</div>

<div class="field">
  開店時間
  <%= @info.open_time %>
  ～
  閉店時間
  <%= @info.close_time %>
</div>


<%= link_to "一覧に戻る", stores_info_index_path %>
<%= link_to "修正", edit_stores_info_path(@info.id) %>
<%= link_to "削除", stores_info_path(@info.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>