<%= render 'layouts/title', title: "ストアページ" %>
<section class="page">
    <h2><%= @store.name %></h2>
    <div class="store_page">
        <div class="image_filed">
            <%= render 'stores/storepages/image', images: @images, images_arr: @images_arr %>
        </div>

        <div class="info_field">
            <ul class="info-list">
                <%= render 'stores/storepages/storepage', store: @store, homepages: @homepages %>

                <li class="info">
                    <div class="info-title">メールアドレス</div>
                    <div class="info-contents"><%= @store.email %></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="destination"><%= link_to "編集ページ 行き", edit_stores_storepage_path %></div>

    <%= render 'users/storepages/review', reviews: @reviews %>
</section>