<h2>ストアページ</h2>
    <% @images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 300, 200, fallback: "noimage.png"%>
    <% end %>

<div class="field">
    <%= @store.name %>
</div>

<div class="field">
    <%= @store.email %>
</div>

<div class="field">
    ストア情報
    <%= @store.introduction %>
</div>

<div class="field">
    <%= @store.telephone_number %>
</div>

<div class="field">
    〒<%= @store.postal_code %>
    <%= @store.address %>
</div>

<div class="field">
    <% @homepages.each do |homepage| %>
        <%= homepage.url_type_to_jp %>
        <%= homepage.url %>
    <% end %>
</div>

<%= link_to "編集ページ 行き", stores_storepage_edit_path %>
