<%= render 'layouts/title', title: "ストアページ" %>
<section class="page">
    <h2><%= @store.name %></h2>
    <div class="store_page">
        <div class="image_filed">
            <%= attachment_image_tag @images[0], :image, :fill, 300, 200, fallback: "noimage.png", id: "img_id" %>
            <input id="img_name" type="hidden" value= <%= @images_arr %> >
            <input type="button" value=">" onclick="changeImage_plus();">
        </div>

        <div class="info_field">
            <ul class="info-list">
                <%= render 'stores/storepages/storepage', store: @store, homepages: @homepages %>

                <li class="info">
                    <div class="info-title">メールアドレス</div>
                    <div class="info-contents"><%= @store.email %></div>
                </li>
            </ul>
        </div>
    </div>
    <%= link_to "編集ページ 行き", edit_stores_storepage_path %>
    
    <%= render 'users/storepages/review', reviews: @reviews %>
</section>