<%= render 'layouts/title', title: "ストア一覧" %>

<section class="page">
  <% if !@often_use.blank? %>

    <% @often_use.each do |station| %>

      <% @infos.each do |info| %>
        <% if info.station == station.name %>
          <% store = Store.find(info.store_id) %>
          <h4><%= info.station %>駅に開催中のポップアップストア</h4>

          <li class="info">
            <div class="info-title">店名</div>
            <div class="info-contents"><%= link_to store.name, users_storepage_path(store.id) %></div>
          </li>

          <%= render 'stores/info/info', info: info %>

          <div class="field">
            <%= link_to "詳細", users_store_path(info.id) %>
          </div>

        <% end %>
      <% end %>
    <% end %>
    <div class="middle-line_image"></div>
  <% end %>

  <h2>本日開催中のポップアップストア</h2>
  <% @infos.each do |info| %>
    <% store = Store.find(info.store_id) %>
    <div class="field">
      <%= store.name %>
    </div>

    <%= render 'stores/info/info', info: info %>

    <div class="field">
      <%= link_to "詳細", users_store_path(info.id) %>
    </div>
  <% end %>
</section>

