<%= render 'layouts/title', title: "コメント編集" %>

<section class="page">
  <div class="row">
    <div class="store-evaluation col-sm-12 col-lg-8">
      <%= form_with model: @review, url: users_review_path(@review.id), local: true do |f| %>
        <div class="star_filed">
          <div class="detail-value", id="star_display<%= @review.id %>"></div>
        </div>

        <div class="field">
          <%= f.label :title, "タイトル" %></br>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :comment, "コメント" %></br>
          <%= f.text_area :comment %>
        </div>

        <%= f.submit "更新" %>
      <% end %>
    </div>
  </div>

  <script>
    $('#star_display<%= @review.id %>').raty({
      size: 30,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      score: <%= @review.evaluation %>,
      scoreName: 'review[evaluation]',
    });
  </script>

</section>