<div class="evaluation">
  <h5>コメント一覧</h5>
  <% reviews.each do |review| %>
    <% user = User.find(review.user_id) %>
    <div class="row">
      <div class="review_img col-3">
        <div class="user_name"><%= user.name %></div>
        <%= attachment_image_tag user, :profile_image, fallback: "noimage.png", class: "img-fluid" %>
      </div>
      <div class="review_contents col-7">
        <div class="review_title"><%= review.title %></div>
        <div class="shop_evaluation" data-score="<%= review.evaluation %>"></div>
        <div class="review_comment"><%= review.comment %></div>
        <div class="review_update"><%= l review.updated_at, format: :long %></div>
      </div>
    </div>

    <div class="short-line_image"></div>
  <% end %>
</div>

<script>
  $('.shop_evaluation').raty({
  readOnly: true,
  score: function() {
  return $(this).attr('data-score');
  },
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
  });

</script>

