<%= render 'layouts/title', title: "アイテム編集" %>
<section class="page">
  <%= form_with model: @item, url: stores_item_path(@item.id), local: true do |f| %>
    <div class="info-list">
      <div class="row">
        <div class="input-label col-sm-12 col-lg-3 offset-lg-1"><%= f.label :name, "アイテム名" %></div>
         <div class="input-field col-sm-12 col-lg-8"><%= f.text_field :name %></div>
      </div>

      <div class="row">
        <div class="input-label col-sm-12 col-lg-3 offset-lg-1"><%= f.label :comment, "アイテム紹介" %></div>
         <div class="input-field col-sm-12 col-lg-8"><%= f.text_area :comment %></div>
      </div>

      <div class="row">
        <div class="input-label col-sm-12 col-lg-3 offset-lg-1"><%= f.label :image, "アイテムイメージ" %></div>
        <div class="input-field col-sm-12 col-lg-8">
          <%= image_tag attachment_url(@item, :image, :fill, 300, 200, fallback: "noimage.png"), size:'300x200' %>
          <%= f.attachment_field :image %>
        </div>
      </div>

      <div class="row">
        <div class="input-label col-sm-12 col-lg-3 offset-lg-1"><%= f.label :price, "金額 (税抜き)" %></div>
         <div class="input-field col-sm-12 col-lg-8"><%= f.text_field :price %></div>
      </div>

      <div class="row">
        <div class="input-label col-sm-12 col-lg-3 offset-lg-1"><%= f.label :status, "ステータス" %></div>
        <div class="input-field col-sm-12 col-lg-8">
          <%= f.label :status, "販売中" %>
          <%= f.radio_button :status, 0 %>
          <%= f.label :status, "販売停止" %>
          <%= f.radio_button :status, 1 %>
        </div>
      </div>
    </div>
    <div class="item_change"><%= f.submit "編集" %></div>
  <% end %>

</section>
