<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>
    <% if admin_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>

    <% elsif user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>

    <% elsif store_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_store_session_path, method: :delete %>
      </li>

    <% else %>
      <li>
        <%= link_to "新規登録", new_admin_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_admin_session_path %>
      </li>
    <% end %>

    <%= yield %>

  </body>

  <footer>

  </footer>
</html>
