<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  </head>

  <body>
    <header>
      <div class="logo">
        <%= image_tag 'logo.jpg', class: "logo_img" %>

        <% if admin_signed_in? %>
          <ul class="menu_left">
            <%= render 'layouts/menu', path: admins_root_path ,top_word: "T", word: "OPページ" %>
            <%= render 'layouts/menu', path: admins_users_path, top_word: "一", word: "般ユーザ" %>
          </ul>

          <ul class="menu_right">
            <%= render 'layouts/menu', path: admins_stores_path ,top_word: "ス", word: "トアユーザ" %>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete do %>
                <span>L</span>og out
              <% end %>
            </li>
          </ul>

        <% elsif user_signed_in? %>
          <ul class="menu_left">
            <%= render 'layouts/menu', path: users_root_path ,top_word: "T", word: "OPページ" %>
            <%= render 'layouts/menu', path: users_mypage_path, top_word: "M", word: "y page" %>
          </ul>

          <ul class="menu_right">
            <%= render 'layouts/menu', path: users_reviews_path, top_word: "コ", word: "メント一覧" %>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <span>L</span>og out
              <% end %>
            </li>
          </ul>

        <% elsif store_signed_in? %>
          <ul class="menu_left">
            <%= render 'layouts/menu', path: stores_info_index_path ,top_word: "T", word: "OPページ" %>
            <%= render 'layouts/menu', path: stores_storepage_path, top_word: "ス", word: "トアページ" %>
            <%= render 'layouts/menu', path: stores_items_path, top_word: "ア", word: "イテム一覧" %>
          </ul>

          <ul class="menu_right">
            <%= render 'layouts/menu', path: stores_reviews_path, top_word: "コ", word: "メント一覧" %>
            <li>
              <%= link_to destroy_store_session_path, method: :delete do %>
                <span>L</span>og out
              <% end %>
            </li>
          </ul>


        <% else %>

          <ul class="menu_left">
            <%= render 'layouts/menu', path: root_path ,top_word: "T", word: "OPページ" %>
            <%= render 'layouts/menu', path: about_path, top_word: "A", word: "BOUT" %>
          </ul>

          <ul class="menu_right">
            <%= render 'layouts/menu', path: new_user_registration_path ,top_word: "新", word: "規登録" %>
            <%= render 'layouts/menu', path: new_user_session_path, top_word: "L", word: "og in" %>
          </ul>
        <% end %>
      </div>

      <div class="search">
        <div class = "text-right mr-3 mb-4">
          <%= form_tag(users_stores_path, :method => 'get') do %>
            <%= text_field_tag :search %>
            <%= submit_tag 'Search', :station => nil, id: "search_button" %>
            駅名検索
            <%= radio_button_tag :type, "station" %>
            店名検索
            <%= radio_button_tag :type, "store" %>
          <% end %>
        </div>
      </div>


    </header>

    <%= yield %>

  </body>

  <footer>
    <p class="footer-text">Supported by HeartRails Express</p>
  </footer>
</html>

