<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>
    <header>
      <div class="logo">
        <%= image_tag 'logo.jpg' %>
      </div>
      <div class="menu">
        <% if admin_signed_in? %>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>

        <% elsif user_signed_in? %>
          <li>
            <%= link_to "My page", users_mypage_path %>
            <%= link_to "TOPページ", users_root_path %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt" %>
          </li>

        <% elsif store_signed_in? %>
          <li>
            <%= link_to "ストアページ", stores_storepage_path %>
            <%= link_to "TOPページ", stores_info_index_path %>
            <%= link_to "コメント一覧", stores_reviews_path %>
            <%= link_to "ログアウト", destroy_store_session_path, method: :delete %>
          </li>

        <% else %>
          <li>
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
      </div>

      <div class="search">
        <div class = "text-right mr-3 mb-4">
          <%= form_tag(users_stores_path, :method => 'get') do %>
            <%= text_field_tag :search %>
            <%= submit_tag 'Search', :station => nil %>
            駅名検索
            <%= radio_button_tag :type, "station" %>
            店名検索
            <%= radio_button_tag :type, "store" %>
          <% end %>
        </div>
      </div>
    </header>

    <%= yield %>

  </body>

  <footer>
    <p class="footer-text">Supported by HeartRails Express</p>
  </footer>
</html>
